[submodule "thirdparty/rlImGui"]
	path = thirdparty/rlImGui
	url = https://github.com/raylib-extras/rlImGui.git
[submodule "thirdparty/raylib"]
	path = thirdparty/raylib
	url = https://github.com/raysan5/raylib.git
[submodule "thirdparty/raylib"]
    path = thirdparty/imgui-docking
    url = https://github.com/ZephyrWolf/imgui-docking.git