name: Build - Linux

on:
  push:
    branches: [ "main" ]
    paths-ignore:
      - "**/README.md"
     # - "**/.github/workflows/build_windows.yml"
  pull_request:
    branches: [ "main" ]
    paths-ignore:
      - "**/README.md"
      #- "**/.github/workflows/build_windows.yml"

env:
  # Customize the CMake build type here (Release, Debug, RelWithDebInfo, etc.)
  BUILD_TYPE: Release

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up dependencies for Linux
        if: runner.os == 'Linux'
        run: |
          sudo apt-get update
          sudo apt-get install -y build-essential git make \
            pkg-config cmake ninja-build gnome-desktop-testing libasound2-dev libpulse-dev \
            libaudio-dev libjack-dev libsndio-dev libx11-dev libxext-dev \
            libxrandr-dev libxcursor-dev libxfixes-dev libxi-dev libxss-dev \
            libxkbcommon-dev libdrm-dev libgbm-dev libgl1-mesa-dev libgles2-mesa-dev \
            libegl1-mesa-dev libdbus-1-dev libibus-1.0-dev libudev-dev fcitx-libs-dev \
            libglm-dev wayland-protocols libwayland-dev libxinerama-dev

      - name: Verify Wayland tools
        run: |
          wayland-scanner --version || echo "wayland-scanner not found"
          which wayland-scanner || echo "wayland-scanner not in PATH"
          pkg-config --modversion wayland-client wayland-server wayland-cursor wayland-egl || echo "Wayland pkg-config not found"

      - name: Clear CMake cache
        run: rm -rf ${{github.workspace}}/build

      - name: Configure CMake
        run: cmake -B ${{github.workspace}}/build -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}}

      - name: Build
        run: cmake --build ${{github.workspace}}/build --config ${{env.BUILD_TYPE}}

      - name: Test
        working-directory: ${{github.workspace}}/build
        run: ctest -C ${{env.BUILD_TYPE}}
